server:
  port: 8082

spring:
  application:
    name: research-project
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/research?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8080
        namespace: public

mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.research.project.entity
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0

jwt:
  secret: project-secret-key-1234567890
  expire: 7200

logging:
  level:
    com.research.project: debug
